API_PROXY_TARGET="http://localhost:7243"
NEXT_PUBLIC_GOOGLE_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_ACCESS_KEY="your-supabase-anon-key"
NEXT_PUBLIC_PUSHER_KEY="your-pusher-key"
NEXT_PUBLIC_PUSHER_CLUSTER="your-pusher-cluster"
